/* ==========Responsive code ============*/

@media screen and (max-width:360px) {}

@media screen and (min-width:361px) and (max-width:414px) {
    .navbar-brand img {
        width: 110px;
    }
}

@media screen and (max-width:480px) {
    .item_achieve .row {
        margin: 0 auto;
    }
    .item_achieve .ache_icons {
        top: 3px;
    }
    .item_achieve {
        margin: 20px 10px 0px!important;
        min-height: 440px;
    }
    footer p {
        font-size: 12px!important;
    }
    .apply_div a {
        font-size: 10px!important;
        width: 138px;
        padding: 15px 10px;
    }
    .ranking {
        margin-bottom: 15px;
    }
    .course_d {
        padding: 0px;
        float: none!important;
    }
    .about p {
        padding-top: 0px;
        font-size: 15px;
    }
    .achieve_div {
        padding: 20px 0px 20px!important;
    }
    .ranking_content h5 {
        font-size: 13px;
    }
    .fee_div h2 {
        font-size: 23px;
    }
    .package h6 {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .recruiters {
        padding: 20px;
    }
    .acc{
        height: 76% !important;
    }
    
}

@media screen and (min-width:481px) and (max-width:767px) {
    footer p {
        font-size: 12px!important;
    }
    .acc{
        height: 76% !important;
    }
    
}

@media screen and (min-width:361px) and (max-width:480px) {}

@media screen and (min-width:481px) and (max-width:576px) {
    .apply_div a {
        width: 200px;
        font-size: 13px;
    }
    .item_achieve .ache_icons {
        top: 3px;
    }
    .item_achieve {
        min-height: 400px;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
    .apply_div a {
        width: 200px;
        font-size: 13px;
    }
    .item_achieve .ache_icons {
        top: 3px;
    }
    .item_achieve {
        min-height: 400px;
    }
    .career_opport_sec,
    .scholarships {
        padding: 35px 0 30px!important;
    }
  }

@media screen and (max-width:576px) {
    .placements {
        padding: 30px 0px 15px!important;
    }
    .program_detl h3 {
        margin-top: 20px;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    footer p {
        margin-bottom: 0px;
        font-size: 11px!important;
    }
    
    .item_achieve img {
        top: 5px;
    }
    .placements p,
    .placements h5 {
        font-size: 14px!important;
    }
    .placements h2 {
        font-size: 22px!important;
    }
    .fee_div {
        margin-bottom: 15px;
    }
    .achieve_div {
        text-align: center;
        font-size: 13px;
    }
    .career_opport_sec {
        background: #ebebeb;
        padding: 30px 0!important;
    }
    .title1 {
        margin-bottom: 15px!important;
    }
}

@media screen and (max-width:768px) {
    img.img-fluid.f1{
        width: 200px;
        height: auto;
        }
        .h1, h1 {
            font-size: 1.5rem;
        }
    
    .box1,
    .box2 {
        padding: 30px;
    }
    .box2 .row.pt-5 .col-md-4 {
        text-align: center;
    }
    .banner-section .position-absolute {
        height: auto;
        top: 50px;
    }
    h2.hc {
        font-size: 20px;
        text-align: center;
        padding-top: 12px;
       
    }
     .abcv {
        text-align: center;
       
    }
    .button:hover,
    .button {
        font-size: 20px;
        padding-left: 95px;
    }
    .banner_form {
        margin: 5px auto;
    }
    .banner-section .position-absolute p {
        font-size: 14px;
        margin: 0;
        padding: 10px 20px;
    }
    .placements,
    .testimonials {
        padding: 30px 0px 15px!important;
    }
    .apply_now_fixed {
        left: calc(50% - 90px)!important;
        right: auto!important;
        bottom: 0px!important;
        transform: rotate(0deg)!important;
        padding: 12px;
        font-size: 15px;
    }
    .recruiters .owl-theme .owl-dots,
    .recruiters .owl-theme .owl-nav {
        margin-top: 10px!important;
        margin-bottom: 0px!important;
    }
    .modal-open .modal {
        padding-right: 0px!important;
    }
    .item_achieve {
        margin: 20px 10px 30px;
        padding: 40px 15px 20px!important;
    }
    .table td,
    .table th {
        font-size: 12px!important;
        padding: 15px 5px 15px 10px!important;
        border: 0px solid;
    }
    footer p {
        font-size: 12px;

    }
    
    .title1 {
        font-size: 22px;
    }
    .scholarships {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../images/bg.jpg);
        background-size: cover, 100% 80%!important;
        background-position: bottom, top center!important;
        padding: 50px 0 40px;
    }
    
}

@media screen and (min-width:768px) and (max-width:1100px) {}

@media screen and (max-width:767px) {
    .item_testi {
        text-align: center;
        margin: 5px;
    }
    .t_detl {
        justify-content: center;
    }
    footer {
        /* padding: 20px 0px 55px!important; */
    }
}

@media screen and (max-width:991px) {
    .navbar .navbar-collapse {
        position: absolute;
        background-image: none;
        padding: 5px 15px;
        border-top: 1px solid #ccc;
        background: #fff;
        box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.09);
    }
    .topnav {
        display: none;
    }
    .navbar {
        background-image: none;
        background: #fff!important;
    }
    nav.navbar.fixed-top {
        background: #fff!important;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #000!important
    }
    .navbar-collapse {
        width: 100%;
    }
    .navbar-brand img.img-fluid {
        width: 180px;
    }
    .banner-form {
        position: relative;
        top: 0;
        right: 0px;
        width: 100%;
    }
    .course_d {
        width: 100%;
    }
    .banner-section {
        margin-top: 85px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .banner-section {
        margin-top: 60px;
    }
    
    .t_detl {
        justify-content: center;
    }
}

@media screen and (min-width:992px) and (max-width:1100px) {
    .social_connect a {
        font-size: 12px;
    }
    .social_connect img {
        width: 45px;
    }
    .banner-form {
        top: 20px!important;
    }
    .navbar-light .navbar-nav .nav-link {
        margin: 0 8px;
    }
    .banner-section {
        margin-top: 135px;
    }
}

@media screen and (min-width:1024px) and (max-width:1170px) {
    .banner-section {
        margin-top: 135px;
    }
    
}

@media screen and (min-width:1100px) and (max-width:1270px) {
    .navbar-light .navbar-nav .nav-link {
        margin: 0 10px;
    }
}

@media screen and (min-width:1271px) and (max-width:1366px) {}

@media screen and (min-width:1367px) and (max-width:1440px) {
    /* .banner-form {
        width: 340px;
    } */
}

@media screen and (min-width:1440px) and (max-width:1600px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 16px;
        margin: 0px 16px;
    }
    .banner-form {
        width: 360px;
    }
    .form-control {
        font-size: 15px;
        margin-bottom: 18px;
        height: 40px;
    }
}

@media screen and (min-width:1601px) and (max-width:1920px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 17px;
        margin: 0px 20px;
    }
    /* .banner-form {
        width: 390px;
    } */
    .form-control {
        font-size: 16px;
        margin-bottom: 30px;
        height: 40px;
    }
}

@media screen and (min-width:1921px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 17px;
        margin: 0px 20px;
    }
    /* .banner-form {
        width: 390px;
    } */
    .form-control {
        font-size: 16px;
        margin-bottom: 30px;
        height: 40px;
    }
}@media screen and (max-width: 768px){
    p.mb-0{
        text-align: center;
    }
}
