@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*,
body,
html {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	margin: 0px auto;
	background: #fff;
	font-size: 16px;
	color: #000;
}

.navbar .navbar-collapse {
	background: #27426D;
	padding: 10px 0 !important;
}

.navbar {
	display: inline-block;
	padding: 0;
	width: 100%;
	transition: all ease-in-out 0.3s;
	background: #fff;
	box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.09);
	z-index: 9991!important;
}


/* .darkHeader {
	position: fixed!important;
	transition: all ease-in-out 0.3s;
	background: #fff;
	box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.09);
	} */

	.social_connect {
		float: right;
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	.social_connect a {
		color: #000!important;
	}

	.social_connect img {
		width: 45px;
	}

	.navbar-light .navbar-nav .nav-link {
		color: #fff!important;
		font-weight: 600;
		margin: 0 15px;
		font-size: 14px;
	}

	textarea#message {
		margin-bottom: 20px;
	}

	.form-control {
		text-align: left;
		background-color: transparent;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 6px;
		border: 1px solid #eee;
		font-size: 14px;
		color: #888!important;
		line-height: 30px;
		height: 30px;
		margin-bottom: 20px;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		padding-left: 5px;
	}

	.form-control:focus {
		border-color: #888;
		box-shadow: none !important;
	}


	/* banner section start */


/* .banner_text {
	position: absolute;
	width: 84%;
	top: 50%;
	left: 16%;
	transform: translatey(-50%);
	z-index: 999;
	COLOR: RED;
}

.banner_text span {
	display: block;
}

.banner_text h2 {
	font-size: 50px;
}

.banner-section {
	margin-top: 151.29px;
	} */


	/* banner section start */


/* .banner_text {
	position: absolute;
	width: 84%;
	top: 50%;
	left: 16%;
	transform: translatey(-50%);
	z-index: 999;
	COLOR: RED;
	} */


/* .banner_text span {
	display: block;
	} */


/* .banner_text h2 {
	font-size: 50px;
	} */

	.banner-section {
		margin-top: 110px;
	}

	.banner-section .position-absolute {
		top: 0;
		height: 100%;
		align-items: center;
		left: 3%;
		width: 97%;
	}


	/* banner section end */

	.text_blue {
		color: #0F4E8E;
		padding: 15px;
		font-weight: bold;
	}

	.text_green {
		color: #00B38D;
	}

	.ul {
		list-style-image: url(../img/tick-inside-circle.png);
	}

	.btn_sec {
		padding: 9px 30px;
		background: #00CEA2;
		background: transparent linear-gradient(92deg, #00B38D 0%, #00CEA2 100%) 0% 0% no-repeat padding-box;
		border-radius: 10px;
		color: white;
		font-size: 16px;
		border: none;
		display: inline-block;
		font-weight: 600;
		line-height: 30px;
	}

	h1.antibody {
		color: #0F4E8E;
	}

	h1.covid {
		text-transform: uppercase;
		text-align: center;
		border-bottom: 3px solid #47b8ac;
	}

	.footer_bottom {
		background-color: #000;
	}

	.immunity {
		background-color: #0F4E8E1A;
	}

	hr.new1 {
		border-top: 2px solid #00B38D;
	}

	.button:hover,
	.button {
		color: #00FF11;
		font-weight: bold;
		font-size: 35px;
		text-decoration: underline;
	}

	.banner_text h2 {
		padding: 10px 20px 10px;
		font-size: 39px;
	}

	.box {
		background: #fff;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
		margin-top: 7px;
		padding: 15px;
		/* height: 110px; */
		border-radius: 14px;
	}

	.box p {
		margin: 0;
		margin-top: 10px;
	}

	h6.h1 {
		font-size: 13px;
		font-weight: bold;
		min-height: 50px;
	}

	.href {
		color: #000;
		font-weight: bold;
	}

	.text-green {
		color: #00B38D;
		font-weight: bold;
	}

	.p1 {
		font-weight: bold;
	}

	.bg1 {
		background: url('../img/bg.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		border: none;
		outline: none;
	}

	.box1 {
		background: #fff;
		box-shadow: 0 0 15px rgb(0 0 0 / 35%);
		margin-top: 50px;
		position: relative;
		padding: 50px;
		border-radius: 20px;
	}

	.box2 {
		background: #fff;
		box-shadow: 0 0 15px rgb(0 0 0 / 35%);
		margin-top: 50px;
		position: relative;
		padding: 50px;
		/* height: 695px; */
		border-radius: 20px;
	}

	table.table-bordered1 {
		/* border: 1px solid #0F4E8E; */
		margin-top: 20px;
	}

	table td,
	table th {
		border: 1px solid #0F4E8E;
	}

	th.th {
		color: #0F4E8E;
	}

	td.td {
		color: #00B38D;
		font-weight: bold;
	}

	p.p {
		background: #FFFFFF;
		color: black;
		font-weight: bold;
	}

	h1.covid {
		font-weight: bold;
		display: inline-block;
	}

	ul.ul li {
		margin-bottom: 10px;
	}

	h2.hc {
		font-size: 56px;
		color: white;
		align-items: center;
		justify-content: center;
		/* font-weight: bold; */
		/* font-weight: 700; */
		/* font-family: 'roboto-bold'; */
	}

	.banner-section .position-absolute h3 + p {
		padding: 10px 40px;
		background: #fff;
		color: #000;
		font-weight: bold;
		font-size: 20px;
		margin: 15px 0;
		clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
	}

	.banner_text {
		position: absolute;
		transform: translatey(-50%);
		z-index: 999;
		top: 50%;
		text-align: left;
	}

	p.book {
		color: #00FF11;
		font-weight: bold;
		font-size: 30px;
	}

	hr.text-green {
		border-top: 3px solid #00FF11;
		margin: 0%;
	}

	.table-bordered1 {
		border-style: solid;
		border-color: #0F4E8E;
		border-width: 2px;
	}

	.table-bordered1 thead th {
		border-width: 2px 2px 2px 2px;
		border-color: #0F4E8E;
	}

	.table-bordered1 tr td {
		border-width: 0px 2px 0px 2px;
		border-color: #0F4E8E;
	}


	/* banner form */

	.form_div {
		padding: 0 1rem;
	}

	.banner_form {
		position: relative;
		top: 0;
		/* right: 7%; */
		padding: 2px;
		width: 79%;
		z-index: 999;
		background-color: #fff;
		box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.52);
		/* border-radius: 10px; */
	}

	.form_img {
		position: absolute;
		top: 0;
		right: 0;
	}

	.form-title h4 {
		font-weight: bold;
		margin: 1rem 0;
		padding-left: 15px;
		font-size: 31px;
	}

	.banner_form .input-group>.form-control {
		/* background: #f1f1f1; */
		font-size: 12px;
	}

	.form-check-label {
		font-size: 12px;
	}

	.banner_form .btn {
		background: #50be95;
		color: #fff;
		width: 100%;
		border-radius: 0;
		padding: 15px 15px;
		font-size: 14px;
		font-weight: normal !important;
		margin: 0;
		border: none;
	}


	@media screen and (max-width: 767px) {
		.banner-section .position-absolute h3 + p {
			font-size: 16px;
		}
	}